body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
    font: normal 12px/1.5 Arial, Tahoma, Helvetica, sans-serif;
    background: white;
    color: #666;
}

ol, ul, li {
    list-style: none;
}

input {
    outline: none;
}

a {
    text-decoration: none;
    color: #0053a5;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

fieldset, img {
    border: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.head-nav {
    height: 87px;
    background: url("../images/base_sprite.png") repeat-x 0 -235px;
    border-bottom: 2px solid #32af00;
    overflow: visible;
}

.head-nav-logo {
    width: 960px;
    margin: 0 auto;
    clear: both;
}

.head-nav .logo-container {
    float: left;
    padding: 10px 20px 13px 0;
}

.head-nav .logo-container h1 a {
    float: left;
    overflow: hidden;
    height: 64px;
}

.head-nav .logo-container .index-logo {
    background: url("../images/index_logo.png") no-repeat 0 0;
    width: 129px;
    height: 64px;
    color: transparent;
}

.head-nav .logo-container .erji-logo {
    background: url("../../xs/resource/erji/logo/xs.png") no-repeat;
    width: 100px;
}

.head-nav .search-wrapper {
    float: left;
    margin-left: 40px;
    margin-top: 30px;
    position: relative;
}

.head-nav .search-wrapper .search-shadow {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 2px;
    background: url("../images/base_sprite.png") no-repeat -148px -33px;
    height: 26px;
}

.head-nav .search-wrapper .search-text {
    float: left;
    width: 339px;
    height: 16px;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 8px;
    border: 1px solid #7b7b7b;
    border-bottom-color: #b6b6b6;
    border-right: none;
    font-size: 16px;
    background: url("../images/base_sprite.png") repeat-x 0 -199px white;
}

.head-nav .search-wrapper .searchsubmit {
    float: left;
    width: 95px;
    height: 28px;
    background: url("../images/base_sprite.png") no-repeat 0 -100px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

/*begin page*/
#page {
    height: 24px;
    padding: 25px 0;
    text-align: center;
}

#page span, #page a {
    display: inline-block;
    font: bold 14px/18px SimSun;
    height: 18px;
    min-width: 18px;
    _width: 18px;
    border: 1px solid #fff;
    margin: 2px;
    white-space: nowrap;
}

#page a {
    color: #0053a5;
}

#page .page_cur {
    border-color: #8eba71;
    background-color: #A3D581;
    color: #fff;
}

#page .page_more {
    font-family: Arial;
}

#page .next_page,
#page .previous_page {
    height: 24px;
    line-height: 26px;
    _line-height: 24px;
    vertical-align: top;
    width: 58px;
    margin: 0 10px;
    border: none;
    font-weight: normal;
    background-image: url("../images/pub.gif");
}

#page a.next_page {
    background-position: 0 -75px;
    padding-right: 6px;
}

#page a.previous_page {
    background-position: 0 -104px;
    padding-left: 6px;
}

#page span.next_page {
    color: #b9b9b9;
    background-position: -68px -75px;
    padding-right: 6px;
}

#page span.previous_page {
    color: #b9b9b9;
    background-position: -68px -104px;
    padding-left: 6px;
}

#page #goto {
    color: #0053a5;
    font-weight: normal;
}

#page #pageNum {
    width: 30px;
    margin: 0 5px;
}

#page #go {
    width: 40px;
    height: 20px;
    font-weight: bold;
    color: #ffffff;
    background: #A3D581;
    border: 1px solid #8eba71;
}

/*end page*/

/*begin footer*/
.footer {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #d7f0d2;
    padding-top: 16px;
    padding-bottom: 40px;
    font-size: 13px;
    color: #999999;
}

.footer .feedback {
    padding: 0 3px;

}

/*end footer*/